<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">これまでの勉強時間って何？</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>このアプリで勉強を始める前までの勉強時間を登録できます。</p>
        <p>累計勉強時間や進捗バーにも反映されるので使ってみてね🐻</p>
      </div>
    </div>
  </div>
</div>