<div class="container mt-5">
  <div class="col-md-10 offset-md-1">
    <div class="border border-2 rounded-3 shadow p-3 mb-5 bg-body rounded"> 
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <h2 class="float-left mb-5 text-center mt-5"><%= @profile.name %>のProfile</h2>
            <%= render 'profiles/profile' %>
        </div>
      </div>
    </div>
  </div>
</div>