<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto mt-5 text-center">
      <h3>パスワードリセット申請</h3>
      <%= form_with url: password_resets_path do |f| %>
        <div class="mb-3">
          <%= f.label :email, t('activerecord.attributes.user.email'), class: "form-label" %>
          <%= f.email_field :email, class: "form-control", id: "email" %>
        </div>
        <%= f.submit '申請',class: 'btn btn-secondary' %>
      <% end %>
    </div>
  </div>
</div>