<header>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d9d9d9;">
<div class="container">
      <a class="navbar-brand">Loguma</a>
      <ul class="navbar-nav ms-auto" style="display: flex; flex-direction: row;">
        <li class="nav-item">
          <%= button_to 'ログアウト', logout_path, method: :delete, form: {turbolink: false} %>
        </li>
        <li class="nav-item">
          <%= link_to 'New log', new_curriculum_log_path %>
        </li>
      </ul>
</nav>
</header>