<header>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <%= link_to 'ログアウト', logout_path, class: 'dropdown-item', data: { turbo_method: :delete } %>
  <p>ログインできてます確認</p>
</nav>
</header>