<header>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d9d9d9;">
<div class="container">
      <%= link_to 'Loguma',curriculum_logs_path, class: "navbar-brand" %>
      <ul class="navbar-nav ms-auto" style="display: flex; flex-direction: row;">
        <li class="nav-item mr-2">
          <%= button_to 'ログアウト', logout_path, method: :delete, form: {turbolink: false}, class: 'btn btn-secondary' %>
        </li>
        <li class="nav-item mr-2">
          <%= link_to 'my profile', profile_path,class:"btn btn-outline-secondary" %>
        </li>
        <li class="nav-item">
          <%= link_to 'New log', new_curriculum_log_path,class:"btn btn-outline-secondary" %>
        </li>
      </ul>
</nav>
</header>