<!-- 進捗バー -->
  <div class="progress" role="progressbar" aria-label="進捗バー" aria-valuemin="0" aria-valuemax="1000">
    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" style="width: <%= (current_user.hours_with_minutes[0] / 1000.0) * 100 %>%;">
      <%= (current_user.hours_with_minutes[0] / 1000.0 * 100).to_i %>%
    </div>
  </div>