<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered ">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loginModalLabel">素早くログイン、すぐ使える。</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class = "text-center">
          <div class = "mb-3">
            <i class="bi bi-github me-3 login"></i>
            <i class="bi bi-google login"></i>
          </div>
          <p>GitHubでも、Googleでも。会員登録の手間要らず。</p>
        </div>
      </div>
    </div>
  </div>
</div>