<div class="modal fade" id="timeModal" tabindex="-1" aria-labelledby="timeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="timeModalLabel">学習時間の記録を簡単に</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class = 'text-center'>
          <%= image_tag 'time.jpg', size: '640x360',class: 'img-fluid mb-3'%>
          <p>「せっかく勉強したけど、今何時間かわからなくなった、、、」を解消。</p>
          <p>あなたの1000時間までの道のりをLogumaがサポート！</p>
        </div>
      </div>
    </div>
  </div>
</div>