<div class="modal fade" id="howtouseModal" tabindex="-1" aria-labelledby="howtouseModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="howtouseModalLabel">ログ駆動開発とは？？</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class = 'text-center'>
          <%= image_tag 'log_top.jpeg', size: '640x360',class: 'img-fluid mb-3'%>
          <p>こまめにログをつけることで、進捗感が感じられるのがLogumaの利点。</p>
          <p>やったことが可視化されて、頭の整理もできる。</p>
        </div>
      </div>
    </div>
  </div>
</div>