<% if @user_log_ranks.present? %>
  <%= render 'ranking_this_week_logs' %>
  <% if @user_study_time.present? %>
    <%= render 'ranking_yestarday_study_times' %>
  <% else %>
    <div class="container text-center my-5">
      昨日は誰も勉強してないくま🐻
    </div>
  <% end %>
<% else %>
  <div class="container text-center mb-5">
    まだ誰も投稿してないくま🐻
  </div>
<% end %>