<div class = "container mt-5">
  <div class = "row justify-content-center">
      <div class="d-flex flex-column justify-content-center m-5 col-md-6" style="width: 379px; height: 154px;">
        <div class ="me-5 mx-auto text-center">
          <h1 class = "top">Loguma</h1>
        </div>
        <div class = "text-center mt-5">
          <% if logged_in? %>
            <%=link_to 'Logをつける',new_curriculum_log_path, class: "btn btn-secondary btn-lg" %>
          <% else %>
            <%=link_to 'Logをつける',login_path, class: "btn btn-secondary btn-lg" %>
          <% end %>
        </div>
      </div>
      <div class= "col-5  col-sm-6">
        <%= image_tag 'book_top.png',size: "552x338",class: "rounded-3 img-fluid"%>
      </div>
  </div>
</div>

<!-- 説明セクション -->
<section id ="content">
  <div class = "container text-center">
    <div class = "row mx-auto col-10">
      <div class = "col-md-8 mx-auto text-center">
        <h2 class = "noto-serif-jp mb-5 title">Logumaで、ログをつける。身につける。</h2>
      </div>
    </div>
  </div>

  <div class = "row g-4  mx-auto col-10">
    <div class = "col-lg-4 col-sm-6 mx-auto">
      <div class ="content card-effect text-center">
        <h4 class = "mt-2 mb-4">ログをつける</h4>
        <p>ログ駆動開発に特化したアプリで、</p>
        <p>記録しやすい、管理しやすいを実現。</p>
      </div>
    </div>
    <div class = "col-lg-4 col-sm-6 mx-auto">
      <div class ="content card-effect text-center">
        <h4 class = "mt-2 mb-4">学習時間を記録できる</h4>
        <p>ログごとの時間、合計時間も記録。</p>
        <p>積み上げた時間がわかる。</p>
      </div>
    </div>
    <div class = "col-lg-4 col-sm-6 mx-auto">
      <div class ="content card-effect text-center">
        <h4 class = "mt-2 mb-4">GitHubでも</h4>
        <p>GitHubのアカウントでもログイン可能。</p>
        <p>すぐに始められます。</p>
      </div>
    </div>
  </div>
</section>
<!-- 注意書きセクション -->
<div class = "container">
  <div class = "row text-center mb-5">
    <p>※本サイトはRUNTEQの課題名を使用していますが、RUNTEQ公式のサービスではありません。</p>
    <p>また、カリキュラムのバージョンによっては使えない受講生の方もいらっしゃいますので予めご了承ください。</p>
  </div>
</div>

<div class="container text-center">
  <h1 class="cantata mb-5">Everyone</h1>
</div>

<div class="container">
  <% @logs.each do |log| %>
    <%= render partial: 'everyone_log', locals: { log: log } %>
  <% end %>
</div>
<div class="container text-center mt-5 mb-5">
    <a id="back-to-top" href="#" class="btn btn-secondary btn-lg back-to-top" role="button" title="Click to return on the top page" data-toggle="tooltip" data-placement="left">TOP</a>
</div>
