@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
  font-family: 'Zen Maru Gothic', serif;
}

.nav-item {
  font-family: 'Zen Maru Gothic', serif;
}

.navbar-brand {
  font-family: serif;
}

.top {
  font-size: 70px;
  font-family: 'Cantata One', serif;
  display: flex;
}

.noto-serif-jp {
  font-family: 'Noto Serif JP', serif;
}

.privacy {
  color: rgb(59, 58, 58);
}

.cantata {
  font-family: 'Cantata One', serif;
}

.robot {
  font-family: 'Roboto', sans-serif;
}
