@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');


body {
  font-family: 'Zen Maru Gothic', serif;
}

.nav-item {
  font-family: 'Zen Maru Gothic', serif;
}

.navbar-brand {
  font-family: serif;
}

.top {
  font-size: 90px;
  font-family: 'Cantata One', serif;
  display: flex;
}

h2 {
  font-family: 'Noto Serif JP', serif;
}

.privacy {
  color: rgb(59, 58, 58);
}