.description-container {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-size: 16px;
    padding-bottom: 100px; 
  }
  
  .description-container {
    margin: 0; /* 左右のmarginを削除 */
  }
  
  .inner {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .Inner-Headline {
    color: #333;
    font-weight: bold;
  }
  
  h2.Inner-Box-Headline {
    color: #333;
    margin-top: 20px;
    font-weight: bold;
  }
  
  p.Inner-Text-first {
    color: #333;
  }
  
  .Outer-Flex-Text {
    text-align: center;
  }
  